body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: grid;
  grid-auto-rows: auto auto 1fr 1fr;
  /* grid-template-columns:  */
  height: 110vh;
  /* background: #f23557; */
  background-image: url(images/nature.jpg);
  background-size: cover;
  background-position: center;
  color: #000000;
  justify-content: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.holder {
}

.entry {
  background: #98b7e7;
  border-radius: 1rem;
  /* display: none; */
}

#entryHolder {
}
#generate {
  display: block;
}
#date {
}

#temp {
}

#content {
}

.headline {
  font-size: 4rem;
}
.title {
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #9eb8c7;
  color: #000000;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border-radius: 1.5rem;
}

button {
  width: 400px;
  height: 100px;
  background: #9eb8c7;
  color: #000000;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border-radius: 1.5rem;
  box-shadow: 2px 4px 5px #444;
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
}
h1 {
  font-size: 36px;
}

textarea {
  background: #9eb8c7;
  color: #000000;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border-radius: 1.5rem;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #000000;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000000;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000000;
  font-family: "Oswald", sans-serif;
}
